body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
body {
	--blue-button: #3777c7;
	--blue-shadow: #275797;
	--blue-highlight: #6797c7;
	--blue-light: #d7e7f7;
	--blue-grey: #373757;
	--blue-dark: #171747;
	--green-light: #d7f7e7;
	--green-grey: #97B797;
	--green-dark: #174717;
	--white: #f7f7f7;
	--red-button: #c73737;
	--red-shadow: #672727;
	--red-highlight: #e78787;
	--grey: #373737;
	--blue-grey-light: #c7cee7;
	--disabled-highlight: #676767;
	--disabled-light: #c7c7c7;
	--small-label-size: 12px;
	--yellow-highlight: #c7c767;
	--yellow-light: #f7f7d7;
}
input[type="range"][orient="horizontal"] {
  width: 3.5rem;
  display: inline-block;
}
input[type="range"][orient="vertical"] {
  width: .5rem;
  height: 32px;
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  display: inline-block;
}
ol, ul {
  padding-left: 30px;
}

.pattern-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.status.row label {
	min-width: 3rem;
}
.cell {
  background-color: var(--blue-light);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 32px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 3.275%;
}
.cell.highlight {
  background-color: var(--yellow-highlight);
}
.stepPicker {
    width: 3.275%;
	height: 16px;
	background-color: var(--blue-dark);
    border: 1px solid #999;
    float: left;
	font-size: var(--small-label-size);
    font-weight: bold;
    line-height: 34px;
    padding: 0;
    text-align: center;
    margin-right: -1px;
    margin-top: -1px;
	color: var(--white);
  }
  .stepPicker span {
      position: relative;
      top: -5px;
  }
  .steps-row {
      position: relative;
      top: -6px;
  }
  .steps-row:not(.open) {
	  display: none !important;
  }
.disabled .cell {
  background-color: var(--disabled-light);
}
.cell:focus {
  outline: none;
}

.cell:nth-child(1),
.cell:nth-child(5),
.cell:nth-child(9),
.cell:nth-child(13),
.cell:nth-child(17),
.cell:nth-child(21),
.cell:nth-child(25),
.cell:nth-child(29)
{
  background-color: var(--blue-highlight);
}

.highlight.cell:nth-child(1),
.highlight.cell:nth-child(5),
.highlight.cell:nth-child(9),
.highlight.cell:nth-child(13),
.highlight.cell:nth-child(17),
.highlight.cell:nth-child(21),
.highlight.cell:nth-child(25),
.highlight.cell:nth-child(29)
{
  background-color: var(--yellow-highlight);
}

.disabled .cell:nth-child(1),
.disabled .cell:nth-child(5),
.disabled .cell:nth-child(9),
.disabled .cell:nth-child(13),
.disabled .cell:nth-child(17),
.disabled .cell:nth-child(21),
.disabled .cell:nth-child(25),
.disabled .cell:nth-child(29)
{
  background-color: var(--disabled-highlight);
}

.kbd-navigation .cell:focus {
  background: #ddd;
}

.song {
  display: flex;
  flex-direction: row;
}

.song-info {
  margin-left: 20px;
}

.song-pattern {
  width: 100%;
}
.song-pattern input[type="button"] {
	float: left;
	width: 6rem;
	margin-right: 1rem;
}

.hidden {
  
 display: none;  
}

.pattern-bg {
	background-color: var(--blue-grey-light);
}

span.meter-display {
	bottom: .5rem;
	color: black;
}

.disabled span {
	color: #676767;
}
span.meter-display.volume:after {
	content: 'db';
	font-size: var(--small-label-size);
}

span.pan-display:before {
	content: 'Pan: ';
}

input.freq:before {
	content: 'Freq: ';
	display: block;
	position: absolute;
	top: -1rem;
	color: black;
	font-size: var(--small-label-size);
}
span.meter-display.freq:after {
	content: 'Hz';
	font-size: var(--small-label-size);
}

@media (max-width: 991px) {
	.cell, .stepPicker {
		width: 6.25%;
	}	
}
@media (min-width: 992px) {
	span.meter-display {
		bottom: .5rem;
	}
}
@media (min-width: 1200px) {
	.cell, .stepPicker {
		width: 3.25%;
	}
}
@media (max-width: 320px) {
	.cell, .stepPicker {
		width: 12.85%;
	}	
}
@media (max-width: 480px) {
	.cell {
		width: 6.48%;
	}	
}
@media (max-width: 575px) {
	.cell {
		width: 6.44%;
	}	
}
.row.disabled {
	
}
div.channel-options:not(.d-none) {
	background-color: tan;
}
div.channel-options:not(.d-none) {
	background-color: tan;
}
div.channel-options.row > div {
	height: 180px;
	border-right: 1px solid white;
	background-color: #9a9a9a;
}
div.channel-options.step.row > div {
	background-color: rgb(140, 180, 210);
}
.disabled.row div.channel-options.row > div {
	background-color: var(--disabled-light);
}
div.powerButton:not(.labelButton) {
	height: 24px;
	width: 24px;
}
div.powerButton:not(.labelButton) > button {
	background-image: url(img/power-button.svg);
	background-repeat: no-repeat;
	background-size: 75%;
	-webkit-appearance: none;
	height: 100%;
	width: 100%;
	border-radius: 3rem;
	border-color: transparent;
	background-position: center 35%;
	background-color: #9a9a9a;
	cursor: pointer;
	outline: none !important;
}
div.powerButton:not(.labelButton) > button.switchedOn {
	background-image: url(img/power-button-white.svg);
	background-color: #fa1a1a;
}
div.powerButton.labelButton > button {
	color: var(--disabled-highlight);
	background: var(--disabled-light);
}
div.powerButton.labelButton > button.switchedOn {
	color: white;
	background: red;
}
div.powerButton.gearIcon:not(.labelButton) {
	height: 32px;
	width: 32px;
}
div.powerButton.gearIcon:not(.labelButton) > button {
	background-image: url(img/gear-grey.svg);
	background-color: transparent;
	background-position: bottom center;
}
div.powerButton.gearIcon:not(.labelButton) > button.switchedOn {
	background-image: url(img/gear-white.svg);
}
.disabled.row div.powerButton.gearIcon:not(.labelButton) > button.switchedOn {
	background-image: url(img/gear-black.svg);
}
div.contextMenu-wrapper a {
	position: relative;
	background-image: url(img/see-more-vertical.svg);
	background-repeat: no-repeat;
	background-size: 75%;
	-webkit-appearance: none;
	border-radius: 3rem;
	background-position: center 75%;
	background-color: transparent;
	cursor: pointer;
	outline: none !important;
	height: 24px;
	width: 18px;
	display: inline-block;
}
div.contextMenu-wrapper select {
	position: absolute;
	z-index: 5;
	overflow: auto;
	cursor: pointer;
}
div.contextMenu-wrapper select option:hover {
	color: white;
	background-color: blue;
}
div.contextMenu-wrapper:not(.open) select {
	display: none;
	position: absolute;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
								  supported by Chrome and Opera */
}
/* The optionIndicator */
.optionIndicator ul li {
	list-style-type: none;
	break-inside: avoid;
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.channel-options label {
	font-size: var(--small-label-size);
}

.incrementer input[type="text"][disabled] {
	background: var(--green-grey);
}

/* Hide the browser's default radio button */
.optionIndicator ul li label input {
  position: absolute;
  opacity: 0;
}

.row.channel:not(.disabled) .optionIndicator:not(.disabled) ul li,
.row.channel:not(.disabled) .optionIndicator:not(.disabled) ul li label {
  cursor: pointer;
}

/* Create a custom radio button */
.optionIndicator ul li label .checkmark {
  position: absolute;
  top: 0;
  left: 3px;
  height: 8px;
  width: 8px;
  background-color: #6a6a6a;
  border-radius: 50%;
}
.optionIndicator ul.vertical li label .checkmark {
	left: auto;
	right: auto;
	text-align: center;
	margin-left: -1rem;
}
.optionIndicator ul.vertical li {
	margin-left: 0rem !important;
	margin-right: 0rem !important;
	width: 100%;
}
/* On mouse-over, add a grey background color */
.row.channel:not(.disabled) .optionIndicator:not(.disabled) ul li label:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.optionIndicator ul li label input:checked ~ .checkmark {
	background-color: var(--disabled-light);
}
.row.channel:not(.disabled) .optionIndicator:not(.disabled)  ul li label input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.optionIndicator ul li label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.optionIndicator ul li label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.optionIndicator ul li label .checkmark:after {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: var(--disabled-light);
}

/* Style the indicator (dot/circle) */
.row.channel:not(.disabled) .optionIndicator:not(.disabled)  ul li label .checkmark:after {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: lime;
}
.dropZone {
	height: 72px;
	width: 100%;
	background-color: var(--green-grey);
	border: 2px dashed var(--green-light);
/*	border-radius: 50%;*/
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 12px;
}
.dropZone .icon {
	opacity: 0.3;
	height: 48px;
	width: 64px;
	position: relative;
	top: -3px;
	margin-bottom: -5px;
}
.dropZone.waveform .icon {
	opacity: 1;
}
.dropZone .fileInput {
	display: none;
}
.dropZone.highlight,
.dropZone:hover {
	background-color: var(--green-light);
	border: 2px dashed  var(--green-dark);
}
.drumPad {
	height: 96px;
}
.drumPad .padSurface {
	background-color: black;
	transition: background-color 2s;
}
.drumPad.highlight .padSurface {
	background-color: orange;
	transition: background-color .15s;
}
.drumPad .hotKeyLabel {
	color: white;
	text-align: center;
	padding-top: 24px;
	font-size: 1.5rem;
}
.navigation.row {
	background-color: royalblue;
	color: white;
}
.modal-wrapper {
	position: absolute;
	display: block;
	width: 55%;
	background: white;
	height: 80%;
	z-index: 3;
	margin: 0px 15%;
	border-radius: 1rem;
	border: 1px solid #333;
	opacity: 0;
	transition: all .35s;
	pointer-events: none;
}
.modal-container.open .modal-wrapper {
	transition: all .35s;
	opacity: 1;
	pointer-events: auto;
}
.text-black {
	color: #333;
}
.modal-container {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: all .35s;
}
.modal-overlay {
	opacity: 0;
	pointer-events: none;
	z-index: 2;
	background-color: rgba(0,0,0,.66);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.modal-container.open {
	transition: all .35s;
	pointer-events: auto;
}
.modal-container.open .modal-overlay {
	opacity: 1;
	pointer-events: auto;
}