asgiref==3.7.2
certifi @ file:///private/tmp/python-certifi-20231008-5412-1rk63p1/certifi-2023.7.22
distlib @ file:///private/tmp/python-distlib-20231212-4774-clg0vf/distlib-0.3.8
Django==5.0
django-cors-headers==4.3.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
filelock @ file:///private/tmp/python-filelock-20231112-5412-u6v39j/filelock-3.13.1/dist/filelock-3.13.1-py3-none-any.whl#sha256=57dbda9b35157b05fb3e58ee91448612eb674172fab98ee235ccb0b5bee19a1c
mysqlclient==2.2.1
platformdirs @ file:///private/tmp/python-platformdirs-20231204-5228-f28h82/platformdirs-4.1.0
protobuf==4.24.4
PyAudio==0.2.14
pydub==0.25.1
PyJWT==2.8.0
python-decouple==3.8
pytz==2023.3.post1
PyYAML @ file:///private/tmp/pyyaml-20231018-5457-utbrds/PyYAML-6.0.1
rptree==0.1.1
simplejson==3.19.2
six==1.16.0
sqlparse==0.4.4
