.dropZone {
	height: 72px;
	width: 100%;
	background-color: var(--green-grey);
	border: 2px dashed var(--green-light);
/*	border-radius: 50%;*/
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 12px;
}
.dropZone .icon {
	opacity: 0.3;
	height: 48px;
	width: 64px;
	position: relative;
	top: -3px;
	margin-bottom: -5px;
}
.dropZone .fileInput {
	display: none;
}
.dropZone .highlight {
	background-color: rgb(188, 185, 236);
}